body {
  background: #0f172a;
  font-family: Arial;
}

.chatbox {
  width: 360px;
  margin: 40px auto;
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  color: white;
}

#chat {
  height: 320px;
  overflow-y: auto;
  margin-bottom: 10px;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px;
}