<!DOCTYPE html>
<html>
<head>
  <title>College Chatbot</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="chatbox">
  <h2>🎓 American College Chatbot</h2>
  <div id="chat"></div>

  <input id="msg" placeholder="Ask me anything..." />
  <button onclick="send()">Send</button>
</div>

<script>
function send() {
  let msg = document.getElementById("msg").value;

  fetch("/chat", {
    method: "POST",
    headers: {"Content-Type": "application/json"},
    body: JSON.stringify({message: msg})
  })
  .then(res => res.json())
  .then(data => {
    document.getElementById("chat").innerHTML +=
      "<p><b>You:</b> " + msg + "</p><p><b>Bot:</b> " + data.reply + "</p>";
    document.getElementById("msg").value = "";
  });
}
</script>

</body>
</html>